<h1>رزومه مربیگری شنا</h1>
<h2>۱. مشخصات شخصی
نام و نام خانوادگی: عباس قربان‌پناه
شماره تماس:09379559390 
ایمیل: abbasghorbanpanah32@gmail.com
شهر محل فعالیت: تهران – استخر قهرمانی آزادی
سن: ۲۳
</h2>
