<img src="80a56715-aecc-4eb2-9ded-34a5e175dfdf.jpg" alt="">
<br>
<!-- <h2>نام کاربری</h2>
<input type="text" placeholder="نام کاربری خود را وارد کنید">
<h2>کلمه عبور</h2>
<input type="password" placeholder="کلمه عبور خود را وارد کنید"> -->

<h1>۱. مشخصات شخصی</h1>
<h3>نام و نام خانوادگی: عباس قربان‌پناه
    <br>
    <br>
شماره تماس:09379559390 
<br>
<br>
ایمیل: abbasghorbanpanah32@gmail.com
<br>
<br>
شهر محل فعالیت: تهران – استخر قهرمانی آزادی
<br>
<br>
سن: ۲۳
<br>
<br>
<h1>۲. خلاصه حرفه‌ای (Professional Summary)</h1>
<h3>
مربی شنا با بیش از ۳ سال تجربه در آموزش گروه‌های سنی ۶ تا ۱۷ سال.
<br>
متخصص در بهبود تکنیک‌های چهار شنای اصلی با تمرکز بر اصول بیومکانیک و پیشگیری از آسیب.
<br>
دارای تجربه در آماده‌سازی ورزشکاران برای رقابت‌های استانی و کشوری.
<br>
<br>
</h3>
<h1>۳. سوابق مربیگری</h1>
<h3>نام باشگاه: ارنا (۱۴۰۱ الی ۱۴۰۳)
    <br>
    <br>
سمت: مربی پایه
<br>
<br>
• توسعه بیومکانیک شناگران پایه و حضور در مسابقات استان
<br>
• ارتقای میانگین رکورد ۴۰۰ متر آزاد به میزان ۲۰٪ طی یک فصل
<br>
• آموزش مبانی روانی و تمرکز قبل از مسابقات
<br>
<br>
---
<br>
<br>
نام باشگاه: استخر قهرمانی آزادی (۱۴۰۳ الی اکنون)
<br>
سمت: مربی پایه (۶ الی ۱۷ سال)
</h3>
<br>
<br>
