<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="07-layout.css">
    <link rel="stylesheet" href="fontawesome-free-6.6.0-web/css/all.css">
</head>
<body>
    <nav>
        <div class="links">
            <a href="#">
                <i class="fa fa-home"></i>
                صفحه اصلی
            </a>
            <a href="#">
                <i class="fa fa-newspaper"></i>
                آخرین اخبار
            </a>
            <a href="#">
                <i class="fa fa-headphones"></i>
                تماس با ما
            </a>
            <a href="#">
                <i class="fa fa-phone"></i>
                درباره ما
            </a>
        </div>
        <div class="searchbar">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="جستجو...">
        </div>
        <div class="login-register">
            <a href="#">
                ورود / ثبت نام
                <i class="fa fa-user"></i>
            </a>
        </div>
    </nav>
    <header>
