
    @font-face {
        font-family: 'iransans';
        src: url('iransans.ttf');
    }
    h1{
        padding: 5;
        font-size: 45px;
        color: rgb(0, 0, 0);
        text-align: right;
        font-family: 'iransans';
    }
    h2{
        font-size: 50px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 100px;
        padding: 40px;
        border-radius: 10px;
        transition-duration: 1s;
        border: 5px solid black;
    }
    h2:hover{
        background-color: green;
        cursor: pointer;
        padding-bottom: 100px;
    }
    h1{
        padding: 5;
        font-size: 50px;
        background-color: rgb(37, 20, 188);
        color: rgb(255, 255, 255);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 100px;
        padding: 40px;
        border-radius: 10px;
        transition-duration: 1s;
        border: 5px solid black;
    }
    h1:hover{
        padding: 5;
        background-color: green;
        cursor: pointer;
        padding-bottom: 100px;
    }
    h3{
        color: rgb(107, 107, 112);
        text-align: right;
        font-family: 'iransans';
    }
    p{
        font-family: 'iransans';
        text-align: right;
        font-size: 20px;
    }
    img{
        width:100%;
        margin:auto;
        display:block;
        margin-top: 60px;
    }
    li{
        color: rgb(71, 71, 71);
        font-family: 'iransans';
        text-align: right;
        font-size: 30px;
        direction: rtl;
    }
    a{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        border: 5px solid rgb(60, 59, 59);
        }